*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:"Poppins",sans-serif;

background:#F6F8FB;

color:#1F2937;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#0F4C81;

border-radius:20px;

}